.form {
    &-group {
        margin-bottom: $spacing*1.5;
    }

    &-control {
        border-radius: 0;
        background: initial;
        color: currentColor;
        border: 1px solid currentColor;
        padding: $spacing*1.5 $spacing;
        height: initial;

        &::placeholder {
            color: currentColor;
        }
    }
}