table {
    width: 100%;
    border-top: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    margin-bottom: $spacing*2;

    tr {
        vertical-align: top;
        border-bottom: 1px solid currentcolor;

        &:last-child {
            border-bottom: none;
        }
    }

    td {
        padding: $spacing;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}