<section class="d-flex flex-column section section--sliding backdrop backdrop--1">
    <div class="section__anchor" id="section-contact"></div>
    <div class="row flex-grow-1">
        <div class="col col-12 col-md-4 col-lg-6 col-xl-7">
            <div class="h-100 d-flex align-items-end">
                <div class="logo__wrapper m-4 d-none d-md-block">
                    <img class="logo px-2 py-4" src="./../../images/logo-white.svg" />
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-8 col-lg-6 col-xl-5">
            <div
                class="h-100 d-flex align-items-center bg-transparent--dark js-slider section__slider section__slider--right section__slider--hidden">
                <div class="section__content">
                    <h2 class="heading--overline">Võta ühendust!</h2>
                    <div class="mb-4 pb-2">
                        <p>
                            Martin Ellervee
                            <br />
                            Stadium Real Estate
                            <br />
                            <a class="mr-3" href="mailto:martin@baltreal.ee">martin@baltreal.ee</a> <a
                                href="tel:+3725058794">+372 50 58 794</a>
                        </p>
                    </div>
                    <form class="form">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Teie nimi*" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="tel" placeholder="Telefon*" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="E-post*" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4"
                                placeholder="Küsimused, soovid, ettepanekud*"></textarea>
                        </div>
                        <div class="form-group line-height--1">
                            <span class="small">Kasutame isikuandmeid kliendi päringule vastamiseks. Me ei edasta
                                isikuandmeid
                                kolmandetele osapooltele ega lisa isikuandmeid reklaami eesmärgiga andmebaasidesse. <a
                                    href="#">Tutvu meie privaatsuspoliitikaga.</a></span>
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LeeWf8UAAAAAMjpk86-JzCe9Q2vdmmqCZcvxiHg"></div>
                        </div>
                        <input class="g-recaptcha btn btn-primary w-100" type="submit" value="Saada!" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>