<section class="section d-flex flex-column backdrop corner-cut--bl backdrop--1">
    <div class="backdrop__vignette d-flex flex-column justify-content-between flex-grow-1 corner-cut--bl">
        <div class="d-flex justify-content-between">
            <div class="logo__wrapper">
                <img class="logo p-2" src="./../../images/logo-white.svg" />
            </div>
            <ul class="lang">
                <li class="lang--current"><a href="#">est</a></li>
                <li><a href="#">eng</a></li>
            </ul>
        </div>
        <header class="text-center mx-auto p-2 pb-md-4 m-4">
            <h1 class="heading--main">
                Üürida uued A-klassi nähtavusega <em>build-to-suite</em> kaubandus- ja teeninduspinnad Jüri ringil
            </h1>
            <a href="#section-contact" class="btn btn-primary no-decor js-scrollto d-none d-md-inline-block">Eelmüük
                alanud
                &mdash; võta
                ühendust!</a>
        </header>
        <a href="#section-details" class="d-none d-md-block section__next js-scrollto">
            <div class="section__arrow"></div>
        </a>
    </div>
    <div class="sticky-contacts js-sticky-contacts" id="sticky-contacts">
        <a href="#section-contact" class="btn btn-primary no-decor js-scrollto btn--fluid-responsive">Eelmüük alanud
            &mdash;
            võta
            ühendust!</a>
    </div>
</section>