<section class="d-flex flex-column section section--sliding backdrop backdrop--responsive backdrop--3">
    <div class="section__anchor" id="section-details"></div>
    <div class="d-block d-md-none min-height-image backdrop backdrop--left backdrop--3"></div>
    <div class="row flex-grow-1">
        <div class="col col-12 offset-md-4 col-md-8 offset-lg-6 col-lg-6 offset-xl-7 col-xl-5">
            <div
                class="h-100 d-flex align-items-center bg-transparent--light js-slider section__slider section__slider--right section__slider--hidden">
                <div class="section__content">
                    <h2 class="heading--overline">Detailinfo</h2>
                    <table>
                        <tr>
                            <td>Tüüp</td>
                            <td>100% ärimaa</td>
                        </tr>
                        <tr>
                            <td>Brutopind</td>
                            <td>29 000 m</td>
                        </tr>
                        <tr>
                            <td>Hooneid</td>
                            <td>Kuni 5</td>
                        </tr>
                        <tr>
                            <td>Korruseid</td>
                            <td>Kuni 5</td>
                        </tr>
                        <tr>
                            <td>Hoonestuskõrgus</td>
                            <td>Kuni 20 m</td>
                        </tr>
                        <tr>
                            <td>Kasutusotsarve</td>
                            <td>Kaubandus, teenindus, showrom, büroo, ladu, väiketootmine</td>
                        </tr>
                        <tr>
                            <td>Parkimine</td>
                            <td>Krundil, tasuta</td>
                        </tr>
                        <tr>
                            <td>Energiamärgis</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Tehnovõrgud</td>
                            <td>Vesi ja kanalisatsioon, gaas, elekter, side</td>
                        </tr>
                        <tr>
                            <td>Valmimine</td>
                            <td>Kuni 24 kuud</td>
                        </tr>
                    </table>
                    <button class="btn btn--fluid-responsive btn-primary">
                        <i class="icon icon--download"></i>PDF-esitlus
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>